@use 'sass:meta';
@import './base.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-soft);
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0;
    place-items: stretch;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@include meta.load-css('element.scss');

:root .k-schema-item:hover {
  background-color: var(--color-background-soft);
}

.el-button {
  --el-button-border-color: var(--color-border-light);
  --el-button-hover-bg-color: var(--color-background-soft);
  --el-button-hover-border-color: var(--color-primary);
  background-color: var(--color-background);
}

.el-input {
  --el-input-border-color: var(--color-border);
  --el-input-bg-color: var(--color-background);
  --el-input-hover-border-color: var(--color-primary);
  --el-input-hover-bg-color: var(--color-background-soft);
}

.el-switch {
  --el-switch-on-color: var(--color-primary);
  --el-switch-off-color: var(--color-text-muted);
}

.el-popover {
  --el-popup-bg-color: var(--color-overlay);
}
